* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    background: rgba(161, 213, 255, 0.726)
}


h1 {
    text-align: center;
    margin: 3 rem 0;
    color: black;
    text-transform: uppercase;
    margin-top: 4rem;
    font-size: 45px;
}

h1 span {
    color: rgb(255, 57, 57);
}

.container {
    width: 100%;
    height: auto;
}

.quizz-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.container-question {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-question {
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    background: rgb(255, 255, 255);
    padding: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    border-radius: 15px;
}

.box-question h4 {
    color: rgb(255, 66, 66);
    margin-bottom: 1rem;
}

.box-question label {
    display: inline-block;
    font-weight: bold;
    color: #000000;
}

.resultat {
    color: black;
    background-color: white;
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
}

.cont-btn {
    margin-top: 1rem;
}

button {
    display: block;
    padding: 1rem 2rem;
    background: rgb(255, 66, 66);
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease-in-out;
}

button:hover {
    background: rgb(163, 34, 34);
}

.resultat h2 {
    color: black;
    font-size: 15px;
    text-align: center;
    text-transform: owercase;
    margin: 1rem 0;
}

.info {
    font-size: 20px;
    color: #008000;
}

.score {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.score span, .info {
    display: block;
    margin: 0.5rem 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
}


