body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #424651;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: auto;
}

h1 {
    font-size: 100px;
    color: #FE5F55;
}

p {
    font-size: 25px;
    color: #EDE7D9;
    margin-top: -20px;
}

.ContainerInput {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
    width: auto;
}

#Tache_Input {
    width: 240px;
    padding: 10px;
    margin-right: 50px;
    border: 1px solid #ccc;
    background-color: #EDE7D9;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

#Tache_Input:focus {
    border-color: #2292A4;
    box-shadow: 0 0 5px #2292A4;
    outline: none;
}

.Tache {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    margin-top: -50px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
    width: auto;
}

#Ajouter_Btn{
    position: absolute;
    left: 1020px;
    top: 438px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: #EDE7D9;
    padding: 0.5rem 1rem;
    background: #FE5F55;
    box-shadow: 6px 10px 10px rgb(70, 70, 70);
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    z-index: 2;
}

#Ajouter_Btn:hover {
    position: absolute;
    height: auto;
    width: 130px;
    border-radius: 5px;
    color: #EDE7D9;
    padding: 0.5rem 1rem;
    background: #ff8b83;
    box-shadow: 6px 10px 10px rgb(70, 70, 70);
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    z-index: 2;
}

#Ajouter_Btn:active {
    position: absolute;
    padding: 0.5rem 1rem;
    font-size: 15px;
}

ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 680px;
    max-height: 200px;
    gap: 10px;
    list-style-type: none;
    margin-right: 220px;
    color: #EDE7D9;
}