body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(39, 39, 39);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 130px;
    font-size: 150px;
    text-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    border-radius: 50px;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(39, 39, 39);;
    font-size: calc(15px + 5vw + 2px);
    line-height: 130px;
    padding: 2%;
    text-align: center;
}

